extends layout

block content
  div.left.row
    a.link(href="/hubot-cron-setting") back
  form(method="post", action="/hubot-cron-setting/new")
    div.row
      span.label Pattern
    div.center.row
      input.txt(type="text", name="pattern")
    div.row
      span.label Room
    div.center.row
      input.txt(type="text", name="room")
    div.row
      span.label Message
    div.center.row
      input.txt(type="text", name="message")
    div.center.row
      input.btn.btn-large(type="submit", value="Save")

